label{
    font-size: large;
}

.button{

    background-color: navy;
    color:white;
    margin-top: 5%;
    opacity: .8;
    border-radius: 12%;
    width:78px;
    height:38px;
    transition: width .1s;
}

.button:hover{

    width: 80px;
    height:40px;
    opacity: 1;
    cursor: pointer;
}

.choice
{
    background-color: navy;
    color:white;
    margin-top: 5%;
    opacity: .9;
    border-radius: 12%;
    width:150px;
    height: 75px;
}

.choice:hover{
    opacity: 1;
    cursor: pointer;
}

.theForm{
    background-image: linear-gradient(to bottom right, green, blue);
    margin:auto;
    margin-top: 8%;
    padding-top: 8%;
    text-align: center;
    padding: 2%;
    width:300px;
    height:300px;
    color:whitesmoke;
    border-radius: 6%;
}

.theForm.chat{
    float: right;
}

.theForm.match{
    height: 150px;
}




.theForm > .message{
    background-color: #CCCCCC;

    margin:auto;
    overflow: auto;
    height: 200px;
    margin-bottom: 6px;
}

.theForm > 
.wrap .message > .word{
    overflow: auto;
    padding: 0;
}

span{
    color:white;
    background-color: black;

    border-radius: 6%;
}



.selection{
    background-color: whitesmoke;
    color: black;
}

.selection:hover{
    cursor: pointer;
}

.select{
    color:whitesmoke;
}

.select:hover{
    cursor:pointer;
}



.title
{
    margin:auto;
    font-size:150px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: -webkit-linear-gradient(green, blue);
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wrap{
    margin:auto;
    flex-wrap: wrap;
    max-width: 308px;
    padding:10px;
}

.choiceWrap{
    margin:auto;
    margin-top: 250px;
    text-align: center;
}

#signUp{
    background-image: linear-gradient(to bottom right, blue, #0492C2);
    opacity: 1;
    color: white;
    margin: auto;
    border-radius: 2%;
    margin-top:10px;
    margin-left:2%;
    width:290px;
    height:45px;
}

#signUp:hover{
    opacity: .8;
    cursor: pointer;
}

.playerList{
    float: right;
    border: 3px solid;
    border-style: solid;
    background-color:whitesmoke;
    border-color: black;
    overflow:auto;
    width:100px;
    height:200px;
}

.displayName{
    border: 3px solid;
    margin:auto;
    border-color:red;
    color:black;
    
}

.onlineHeader{
    border: 1px solid;
    border-color: black;
}